# ignore ALL .log files
*.log

# ignore ALL files in ANY directory named temp
temp/

#ignore pycache
__pycache__/

#ignore vscode
.vscode/

#ignore the test directory
test/

# ignore the output directory
output/